<mat-drawer-container class="example-container" autosize>
  <mat-drawer class="example-sidenav" mode="side" opened>
    <button class="text-center btn btn-primary" (click)="toggle()">{{button}}</button>
    <div class="h5 text-center pt-2 pb-2">My list</div>
    <div class="text-center pb-2" *ngFor="let title of toDoList"> {{title.title}}</div>
  </mat-drawer>

  <div class="col-sm-12" *ngIf="show">
    <app-write-todo (todoEvent)="toDo($event)"></app-write-todo>
  </div>

  <div class="col-sm-12">
    <app-what-todo *ngFor="let item of toDoList; let i = index"  [item]="item" [index]="i" (delete)="deleteItem($event)" ></app-what-todo>
  </div>
</mat-drawer-container>
